.btn {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.2em;
    border: 2px #fff solid;
    display: block;
    text-align: center;
    font-weight: 900;
    color: #ddd;
    background: $mainRed;
    margin: 0.2em;
    &:hover {
        color: #222;
        background: #ec9591;
    }
    &:active {
        background: #e6adab;
    }
}
