.player {
    width: 120px;

    /* background-color: aqua; */
    padding: 2em;
    &__score {
        font-size: 4em;
    }
    &--0 {
        text-align: center;
        float: right;
    }

    &--1 {
        text-align: center;
        float: left;
    }

    &--active {
        background: #eee;
        border: 2px solid #fff;

    }
    
}