body {
    background-color:green;
}
h1 {
    text-align: center; 
}
.wrapper {
    min-width: 600px;
    margin: 0 auto;
    background: red;
    max-width: 800px;
}
.row::after {
        content: "";
        clear: both;
        display:  table;
    }
.row__medium-4 {
        float: left;
        width: 33%;

    }
.btn {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.2em;
    border: 2px red solid;
    display: block;
    text-align: center;
    font-weight: 900;
    color: #ddd;
    background: #e74c3c;
}
.btn:hover {
        color: #aaa;
    }
.results {
    width: 75%;
    margin: 0 auto;
}
.results__tablo {
        width: 100%;
        text-align: center;
        font-size: 3em;
    }
.player {

    background-color: aqua;
    
}
.player__score {
        font-size: 4em;
        background-color: orange;
    }
.player--0 {
        text-align: right;
    }
.player--1 {
        text-align: left;
    }
.player--active {
        color: blue;
    }
